body { font-family: 'Lora'; font-style: normal; font-weight: normal; }
.title, .menu,.tp-caption,.quote_region,.progress .fore .name,.btn,.form-submit,button,.tagcloud,.categories div.views-row,.views-field-web-intents a { font-family: 'Open Sans'; font-style: normal; font-weight: 700;}
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans'; font-style: normal; font-weight: 800; }
