/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 COLOR SCHEME : #222222
 */

/*
**********************
--- GENERAL THEME CSS ---
**********************
*/

html {
  height: 100% !important;
  min-height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: #FFFFFF;
  font-size: 15px;
  color: #575757;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.5px;
  line-height: 25px;
}

#wrapper_overall {
  background: #ffffff;
}

body .boxed {
  width: 85%;
  margin: auto;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  height: auto;
  min-height: 100%;
}

body .boxed #hero {
  height: 100%;
}

.boxed header#navbar {
  position: relative !important;
  margin-bottom: 0;
}

.boxed .container {
  max-width: 100%;
}

h1 {
  color: #272626;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: normal;
  margin-top: 10px;
}

.upper {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: normal;
  margin-top: 10px;
}

.not-front .main-container {
  padding-top: 80px;
}

.node-type-shinbun-front-page .main-container {
  padding-top: 0px;
}

.main-container {
  margin-bottom: 80px;
}

.main-container:before {
  height: 0px;
}

.main-container:after {
  height: 0px;
}

.sidebar-first .main-container section.col-sm-9 {
  padding-left: 30px;
}

.sidebar-second .main-container section.col-sm-9 {
  padding-right: 30px;
}

.main-container section.col-sm-9 {
  padding-right: 30px;
}

.sidebar-first .main-container aside.col-sm-3 {
  padding-right: 30px;
}

.sidebar-second .main-container aside.col-sm-3 {
  padding-left: 30px;
}

.main_container_wrapper {
  background: none repeat scroll 0% 0% #FFF;
  z-index: 2;
  position: relative;
}

.toolbar .main-container.not-front:before {
  height: 0px;
}

.not-front .main-container:before {
  height: 0px;
}

.not-front.logged-in .main-container:before {
  height: 0px;
}

.node-type-shinbun-front-page .main-container:before {
  height: 0px;
}

.boxed .main-container.not-front:before {
  height: 30px;
}

.page-contact .main-container {
  padding-top: 40px;
}

.page-contact .main-container.not-front:before {
  height: 0px;
}

.dropdown-menu > li > a {
  color: #ffffff;
  padding: 13px 35px;
  text-transform: uppercase;
  font-size: 11px;
}

.dropdown-menu > li > a:hover {

}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

ul.nav li.dropdown ul.dropdown-menu {
  margin-top: -2px;
  border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  display: none;
}

header#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  padding: 0;
  z-index: 1500;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background: #272626;
  /*background: rgba(255,255,255,0.95);*/

  border: none;
  border-radius: 0;
}

header#navbar {
  height: auto;
  line-height: 80px;
}

/*
STICKY NAVBAR - FULL SLIDESHOW
*/

header#navbar.sticky-wrapper {
  position: relative;
}

.logo {
  line-height: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo img {
  max-height: 60px;
  vertical-align: middle;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
  line-height: 80px;
  /* vertical-align: middle; */
  margin-top: 25px;
}

header .navbar-collapse.collapse {
  line-height: 80px;
  /*height: 80px !important;*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: none;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  header .navbar-collapse.collapse {
    position: absolute;
    /* overflow: visible; */
    width: 100%;
    left: 0;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  display: block;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 78px;
  padding-top: 0;
  padding-bottom: 0;

  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li.last > a {
  padding-right: 0;
}

.navbar-default .navbar-nav > .active > a {
  background: transparent;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #222222;
  background: transparent;
  border-bottom: 0px solid #222222;
}

.container img {
  max-width: 100%;
  height: auto;
}

.theme_color {
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.node {
  margin-top: 10px;
}

.page-header {
  padding-bottom: 0px;
  border-bottom: 0;
  text-align: center;
}

.page-user .page-header, .node-type-blog .page-header {
  text-align: left;
}

.page-user div.space, .node-type-blog div.space {
  display: none;
}

.node-type-blog .loader div.space {
  display: block;
}

h2, .h2 {
  font-size: 30px;
}

.grid_system .row div {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
}

.underline_title_thin {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

ul {
  padding-left: 0;
}

ul.inline-list {
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}

ul.inline-list li:first-child {
  margin-left: 0;
}

ul.inline-list li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#block-system-main {
  margin: 0;
}

.region-content section.block {
  margin-top: 60px;
}

.region-content section.block:first-child {
  margin-top: 60px;
}

.region section.block:first-child {

}

section.block {
  margin-top: 60px;
  margin-bottom: 60px;
}

.nav-tabs > li > a {
  border-radius: 0px;

}

.nav-tabs > li > a {

}

/*
******************************
--- OVERRIDE BOOTSTRAP ELEMENTS ---
******************************
*/

.panel-group .panel {
  border-radius: 0px;
}

.panel-default > .panel-heading {
  border-radius: 0px;
}

.progress-bar {
  line-height: 30px;
}

/*
******************************
--- MAIN CONTAINER ---
******************************
*/

.container .block-title, .block-title {
  text-align: center;
}

.front section.block {
  padding-top: 20px;
}

.container .block h2.block-title {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #272626;
  text-transform: uppercase;
  line-height: 40px;
}

/*
******************************
--- SECOND CONTAINER ---
******************************
*/

.second_content {

  background: #ffffff;
}

/*
***************
--- SIDEBAR ---
***************
*/

.region-sidebar-second .block h2.block-title, .region-sidebar-first .block h2.block-title {
  border-bottom: 2px solid #222222;
  padding-bottom: 10px;
  border-top: 2px solid #222222;
  padding-top: 10px;
  font-size: 14px;
}

.region-sidebar-second, .region-sidebar-first {
  margin-top: 0px;
}

/*
***************
--- BUTTONS AND LINKS ---
***************
*/

.btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  padding: 10px 18px;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-lg {
  font-size: 16px;
}

.btn-default,
input.form-submit {
  color: white;
  background-color: #222222;
  border: 1px solid #222222;

  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;

  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  padding: 10px 18px;
  text-transform: uppercase;
  font-size: 13px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-default:hover,
input.form-submit:hover {
  color: #222222;
  background-color: white;
  border: none;
  border: 1px solid #222222;
}

body .tooltip .tooltip-inner {
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  -ms-border-radius: 0%;
}

a {
  color: #222222;
}

a:hover {
  color: #222222;
  text-decoration: none;
}

.top_button {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -15px;
}

.top_button a.back_to_top {
  cursor: pointer;

}

.top_button a.back_to_top i {

  width: 50px;
  line-height: 46px;
  height: 50px;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

#hero .button {
  background: #222222;
  color: #FFFFFF;
  border: none;
  padding: 13px 42px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.2s background linear;
  -moz-transition: 0.2s background linear;
  transition: 0.2s background linear;
  font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
  text-decoration: none !important;
  border-radius: 3px;
}

#hero .button:hover {

}

/*
***************
--- FLEXSLIDER ---
***************
*/

.flexslider .flex-control-nav {
  display: none;
}

.flexslider .flex-direction-nav a {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 11;
  margin-top: -30px;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
}

.flexslider .flex-direction-nav .flex-prev {
  left: 0;
  font-size: 0
}

.flexslider .flex-direction-nav .flex-prev:before {
  font-family: 'FontAwesome';
  font-size: 40px;
  line-height: 60px;
  display: inline-block;
  content: '\f104';
}

.flexslider .flex-direction-nav .flex-next {
  right: 0;
  font-size: 0;
}

.flexslider .flex-direction-nav .flex-next:before {
  font-family: 'FontAwesome';
  font-size: 40px;
  line-height: 60px;
  display: inline-block;
  content: '\f105';
}

/*
*************************
--- FRONT PAGE HERO REGION ---
*************************
*/

.region-hero section.block {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0px;
}

#hero {
  background: #FFFFFF;
  position: relative;

  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;

  display: block;
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  z-index: 2;
}

#hero .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.front #hero,
.front .full_width,
.front .region-hero,
.front .region-hero section,
.front .region-hero .view,
.front .region-hero .view .view-content {
  border: none !important;
  height: 100%;
  position: relative;
  z-index: 1;
}

.node-type-shinbun-front-page #hero,
.node-type-shinbun-front-page .full_width,
.node-type-shinbun-front-page .region-hero,
.node-type-shinbun-front-page .region-hero section,
.node-type-shinbun-front-page .region-hero .view,
.node-type-shinbun-front-page .region-hero .view .view-content {
  z-index: 1;
  position: relative;
}

.node-type-shinbun-front-page .main-container, .node-type-shinbun-front-page .second_content, .node-type-shinbun-front-page .third_content, .node-type-shinbun-front-page .footer {
  position: relative;
  z-index: 2;
}

#hero .flexslider {
  border: none !important;
  height: 100%;
  position: relative;
}

#hero .flexslider .flex-direction-nav a {
  border-radius: 3px;
}

#hero .flexslider .slides {
  height: 100%;
  position: relative;
  width: 100%;
}

.flexslider .slides img {
  width: 100%;
  height: auto;
}

#hero .flexslider .slides li:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1000;
}

#hero .flexslider .slides .content_hero {
  position: absolute;
  width: 100%;
  top: 25%;
  z-index: 3;

}

#hero .flexslider .slides .field-content {

  color: white;
  text-transform: uppercase;
  z-index: 3;
  width: 80%;
  margin: auto;
  margin-bottom: 0px;
  font-size: 90px;
  letter-spacing: -1px;

  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

#hero .flexslider .slides p {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 10px;
}

#hero .flexslider .slides span {

  text-align: center;
  left: 0;
}

#hero .flexslider .slides a {

  text-transform: uppercase;
  margin: auto;
}

#hero .views-field-field-link {
  display: none;
}

#hero .flexslider .slides li {
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  height: 100%;
  position: relative;
}

#block-block-2 p {
	float: left !important;
}

.view-bux {
	
}

.view-bux .owl-item, .view-pasport .owl-item {
	border: 4px solid #222222;
	margin-right: 10px;
	width: 275px !important;
}

/*HIGHLIGHT AREA*/

.highlight-icon a {
  font-family: 'FontAwesome';
  display: inline-block !important;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px !important;
  height: 90px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.highlight-icon a:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;

}

.highlight_content h4 {
  color: #222222;
  text-transform: uppercase;
}

#hero .content_hero .inline-list li {
  margin-right: 20px;
  margin-left: 20px;
}

/*
***************
--- REVOLUTION SLIDER ---
***************
*/

.tp-banner {
  display: none;
}

.parallax.tp-simpleresponsive > ul > li {
  position: fixed;
}

.tp-caption.big_title {
  font-size: 50px;
}

.tp-caption.big_title2 {
  font-size: 130px;
  letter-spacing: 10px;
}

.tp-caption.big_title3 {
  font-size: 80px;
  
}

.tp-caption a.tp-button {
  padding: 20px 50px;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.tp-bullets {
  display: none !important;
}

@media (max-width: 768px) {
  .view-revolution-slide-videos {
    padding-top: 80px;
  }
}

/*
***************
--- FORMS ---
***************
*/

form label {
  text-transform: none;
  font-weight: normal;
}

.not-logged-in form .filter-wrapper {
  display: none;
}

.comment h3 a {
  text-transform: uppercase;
  font-size: 20px;
}

.form-control {

  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;

  border: 2px solid #e5e5e5;

  height: 40px;

  box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
}

.page-user .tabs--primary {
  max-width: 60%;
}

.page-user #user-login {
  max-width: 60%;
}

/*
***************
--- LOADERS ---
***************
*/

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 20000000;
  background: white;
  background-size: 40px;
}

.la-anim-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
  background: #272626;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  pointer-events: none;
  dispay: none !important;
}

.la-anim-1.la-animate {
  z-index: 1601;
  opacity: 0;
  -webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
  transition: transform 5s ease-in, opacity 1s 5s;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.loading_text {
  text-transform: uppercase;
  color: #272626;
  top: 40%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.loading_text h3 {
  font-size: 15px;
  font-weight: normal;
}

.loading_text i {

}

.front section.block, .front .project_detail section.block {
  padding-top: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.toolbar #navbar {
  /*margin-top:60px;*/
}

/*
***************
--- ICONS ---
***************
*/

.bg_circle {
  color: #fff;
  width: 60px;
  line-height: 60px;
  height: 60px;
  font-size: 25px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.bg_square {
  color: #fff;
  width: 60px;
  line-height: 60px;
  height: 60px;
  font-size: 25px;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.social_icons {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

.social_icons li {
  display: inline-block;
}

.social_icon {

}

.social_icon i {
  color: white;
  display: inline-block !important;
  cursor: pointer;
  margin: 10px;
  width: 50px;
  line-height: 50px;
  height: 50px;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #222222;
  border: 3px solid #222222;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.social_icon i:hover {
  background: white;
  color: #222222;
}

.social_icon.small i {
  width: 35px;
  line-height: 35px;
  height: 35px;
  margin: 0px;
  border-radius: 0%;
  font-size: 15px;
}

ul.gray_icons i {
  width: 40px;
  line-height: 37px;
  height: 40px;
  margin: 0px;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
}

.clear_item {
  clear: both;
}

div.space {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  max-width: 50%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.spacer_crosshair {
  font-size: 30px;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  max-width: 80%;
}

.spacer_crosshair:before, .spacer_crosshair:after {
  position: absolute;
  width: 999px;
  left: -999px;
  content: "";
  top: 40%;
  height: 2px;
}

.spacer_crosshair:after {
  left: 100%;
}

/*
*********************
--- QUOTES REGION ---
*********************
*/

#block-views-quotes-block-block {
  padding-top: 0;
}

.quote_region .overlay, .quote_region .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  z-index: 0;
}

.quote_region .overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.quote_region .clip {
  background: url(../images/stripe.png);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1)";
  filter: alpha(opacity=0.1);
}

.quote_region {
  margin-top: 0px;
  background: url("../images/quotes.jpg") 0px fixed;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 80px 0px 100px 0px;
  color: white;
  text-align: center;
  position: relative;
}

.quote_region .container {
  z-index: 1;
  position: relative;
}

.quote_region .container .block h2.block-title {
  color: white;
  text-transform: inherit;
}

.quote_region .views-field-body p {
  font-size: 25px;
  max-width: 70%;
  line-height: 27px;
  margin: auto;
}

.quote_region .views-field-field-profile {
  margin-top: 40px;
}

.quote_region .flex-control-nav {
  position: relative;
  display: block;
}

.quote_region section.block {
  margin-top: 0;
  margin-bottom: 0;
}

/*
.quote_region .views-field-body p:before{
    font-family: 'FontAwesome';
    font-size: 25px;
    display: inline-block;
    content: "\f10d";
    margin-right: 10px;
}

.quote_region .views-field-body p:after{
    font-family: 'FontAwesome';
    font-size: 25px;
    display: inline-block;
    content: "\f10e";
    margin-left: 10px;
}*/

.quote_region .flexslider .flex-direction-nav {
  display: none;
}

.quote_region .flexslider .flex-control-paging li a {

  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
}

.quote_region .flexslider .flex-control-paging li a.flex-active {
  background: #fff;
}

/*
*********************
--- TWEET REGION ---
*********************
*/

.tweets_region {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("../images/twitter.jpg") 0px fixed;
  text-align: center;
  padding: 80px 0px;
  color: white;
  position: relative;
}

.tweets_region section.block {
  padding-top: 10px;
  margin-top: 20px;
}

.tweets_region .block:first-child h2.block-title {
  color: white;
  margin-bottom: 20px;
}

.tweets_region .view-content {
  color: white;
}

.tweets_region .flexslider img {
  width: 48px;
  height: auto;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 10px;
}

.tweets_region .flexslider .flex-direction-nav a {
  color: white;
}

.tweets_region .flexslider .views-field-text {
  font-size: 25px;
  line-height: 30px;
  clear: both;
  display: block;
  max-width: 80%;
  margin: auto;
}

.tweets_region .flexslider .views-field-created-time {
  font-size: 25px;
  line-height: 30px;
  clear: both;
  display: block;
  max-width: 80%;
  margin: auto;
}

.tweets_region .flexslider .field-content a {
  color: #222222;
}

.tweets_region .fa-twitter {

}

.tweets_region .flexslider .views-field-web-intents {
  margin-top: 20px;
}

.tweets_region .flexslider .views-field-web-intents a {
  background: #222222;
  color: #FFFFFF;
  border: none;
  padding: 4px 8px;
  font-size: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.2s background linear;
  -moz-transition: 0.2s background linear;
  transition: 0.2s background linear;
  text-decoration: none !important;
  border-radius: 0px;
}

.tweets_region .container {
  position: relative;
}

.tweets_region .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.tweets_region .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
}

/*
*****************
--- PORTFOLIO ---
*****************
*/

#third_content {
  padding-top: 0px;
  padding-bottom: 60px;

}

#block-views-work-block {
  padding-top: 10px;
}

.work-list {
  position: relative;
}

.work-list ul.items {
  padding: 0;
  margin: 0;
}

.work-list ul.items .work-item {
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  padding: 0;
  border: 0px solid #f5f5f5;
  margin: 0;
}

.work-list ul.items .work-item.cols-3 {
  list-style: none;
  float: left;
  width: 33%;
  position: relative;
  padding: 0%;
  border: none;
  margin: 0%;
}

.work-list ul.items .work-item {

}

.work-list ul.items .work-item .views-field-field-image .field-content div {

}

.work-list ul.items .work-item img {
  width: 100%;
  height: auto;
}

.da-thumbs li {
  position: relative;
}

.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
}

.da-thumbs li a {
  overflow: hidden;
}

.da-thumbs li a > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.da-thumbs li a > div i {
  display: block;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  color: white;
  font-weight: 200;
}

.da-thumbs li a > div .title {
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  border-bottom: none;
  box-shadow: 0px;
  text-align: center;
}

.da-thumbs li.cols-3 a > div .title {
  margin: 60px 20px 20px 20px;
}

.da-thumbs li a > div span.category {
  font-size: 13px;
  color: #ffffff;
  font-weight: normal;
}

/*FILTERS*/

.view-filter-controls .view-header {
  text-align: center;
  max-width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.view-filter-controls {
  text-align: center;
}

.view-filter-controls li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: 3px solid #222222;
  text-transform: uppercase;
  color: white;
  border-radius: 0px;
  background: #222222;
  padding: 6px 15px;
  margin: 5px;
  font-size: 12px;
}

#Grid .mix {
  opacity: 0;
  display: none;
}

/*
OTHER PORFOLIO VIEWS
*/

.view-work .views-row .social_icons {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 5%;
  width: 90%;
  display: none;
  z-index: 10;
}

.view-work .btn_open_project_wrapp {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 5%;
  width: 90%;
  display: none;
  z-index: 10;
}

.view-work a.btn_white {
  padding: 8px 15px;
  font-size: 12px;
  text-transform: uppercase;
}

.view-work div.space {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  max-width: 50%;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.view-work div.space i {
  margin: 0;
  padding: 0;
}

/*
3 COLS GRID
*/

.view-id-work.view-display-id-page_1 .social_icon.small i {
  width: 40px;
  line-height: 40px;
  height: 40px;
  margin: 0px;
  border-radius: 0%;
  font-size: 20px;
}

/*
MASONRY
*/

.view-id-work.view-display-id-page_3 {

}

#masonry_container .grid-sizer {
  width: 25%;
}

.view-id-work.view-display-id-page_3 .item {
  width: 25%;
  margin: 0%;
  float: left;
}

.view-id-work.view-display-id-page_3 .item .item_inner {
  overflow: hidden;
  position: relative;
  margin: 0px;
}

.view-id-work.view-display-id-page_3 .item.w2 {
  width: 50%;
}

.view-id-work.view-display-id-page_3 .item.w3 {
  width: 73%
}

.view-id-work.view-display-id-page_3 .item.w2 .social_icon.small i {
  width: 40px;
  line-height: 35px;
  height: 40px;
  margin: 0px;
  border-radius: 0%;
  font-size: 20px;
}

.view-id-work.view-display-id-page_3 .item div {

}

.view-id-work.view-display-id-page_3 .item a {
  display: block;
  overflow: hidden;
}

.view-id-work.view-display-id-page_3 .item a > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.view-id-work.view-display-id-page_3 .item a > div i {
  display: block;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  color: white;
  font-weight: 200;
}

.view-id-work.view-display-id-page_3 .item.w1 a > div i {
  padding: 0;
}

.view-id-work.view-display-id-page_3 .item a > div .title {
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-bottom: none;
  box-shadow: 0px;
  text-align: center;
}

.view-id-work.view-display-id-page_3 .item.w2 a > div .title {
  margin: 80px 20px 20px 20px;
  font-size: 30px;
}

.view-id-work.view-display-id-page_3 .item.w1 a > div .title {
  margin: 20px 20px 20px 20px;
}

.view-id-work.view-display-id-page_3 .item a > div span.category {
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
}

.view-id-work.view-display-id-page_3 .item.w2 a > div span.category {
  font-size: 15px;
}

/*
**********************************
--- PORTFOLIO DETAIL PAGE ---
**********************************
*/

.page_overlay {
  z-index: 11;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: none;
}

.portolio_detail_holder {
  clear: both;
  padding: 10px;
  position: relative;
}

.portolio_detail_holder .project_detail {
  position: relative;
  max-width: 100%;
  margin-top: 80px;
}

.node-project .submitted {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.username {
  color: #222222;
}

.node-project .project_info {
  text-align: right;
}

.node-project .social_icons {
  margin-top: 15px;
}

.node-project .field-type-taxonomy-term-reference {
  color: #222222;
  margin-bottom: 10px;

}

.node-project .field-type-taxonomy-term-reference .field-item {

  padding-bottom: 5px;
  padding-top: 5px;
}

.node-project .project_button {
  margin-top: 40px;
  text-align: right;

}

.node-project .project_button_left {
  text-align: left;
  margin-top: 20px;
}

.node-project .project_button a {

}

.portolio_detail_holder .close_project {
  z-index: 1;
  display: inline-block;
  position: absolute;
  right: 70px;
  top: 25px;
}

.portolio_detail_holder a.close {
  font-weight: normal;
  color: #222222;
  font-size: 13px;
  opacity: 1;
  margin-top: 10px;
  cursor: pointer;
  z-index: 100;
}


.field-name-body h2 a:hover {
	text-decoration: underline;
}

/*
**********************************
--- FOOTER REGION ---
**********************************
*/

.footer {
  background: #f5f5f5;
  position: relative;
  text-align: center;
}

footer section.block, .front footer section.block {
  padding-top: 10px;
}

/*
**********************************
--- BLOG PAGES ---
**********************************
*/

.node-type-blog #wrapper_overall, .node-type-blog .main_container_wrapper {
  background: #f8f8f8;
}

.node-type-blog .node-blog {
  background: #ffffff;
}

.tagcloud a {
  display: block;
  float: left;
  background: #222222;
  border-radius: 0px;
  padding: 3px 8px;
  color: white;
  margin: 0 6px 6px 0;
  text-decoration: none;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 12px;
  text-transform: uppercase;
}

.categories div.views-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  color: #222222;
  text-transform: none;
  font-size: 14px;
  text-transform: uppercase;
}

.page-blog section.block {
  padding-top: 0;
}

.node-blog {
  padding: 0px;
  /*border: 1px solid #f5f5f5;*/
  margin-bottom: 40px;
  position: relative;

}

.node-blog .blog_head {
  overflow: hidden;
}

.node-blog .field-name-field-tags .field-label {
  display: none;
}

.node-blog .field-name-field-tags .field-items {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.node-blog .blog_content .comment-add {
  display: none;
}

.node-blog .field-name-field-tags .field-items .field-item {
  display: inline-block;
  margin-right: 10px;
  border-right: 1px solid #f5f5f5;
  padding-right: 10px;
}

.node-blog .field-name-field-tags .field-items .field-item:last-child {
  border-right: none;
}

.node-blog .blog_usernames_blog {
  display: none;
}

@-moz-document url-prefix() {
  .node-blog .flexslider {
    border: 0 !important;
    margin-top: -1.4em !important;
  }
}

.node-blog h2 {
  text-transform: uppercase;
}

.node-blog h2.comment-form {
  font-size: 30px;
  margin-bottom: 20px;
}

.node-blog .blog_post_type {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #272626;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.node-blog .blog_post_date {
  position: absolute;
  left: 0px;
  top: 51px;
  background: #222222;
  padding: 10px;
  width: 50px;
  /* height: 50px; */
  text-align: center;
  color: white;
  font-weight: bold;
}

.node-blog .post_blog_info {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;

}

.node-type-blog .node-blog .post_blog_info {
  padding-right: 40px;
  padding-left: 40px;
}

.node-blog .post_blog_info .submitted {
  margin-bottom: 0;
}

.node-type-blog .node-blog .content {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 0;
}

.node-type-blog .node-blog #comments {
  padding: 40px;
  padding-top: 0;
}

.node-type-blog .node-blog iframe {
  width: 100%;
}

.blog_category {
  float: left;
  width: auto;
  margin-right: 10px;
}

.blog_category i {
  color: #222222;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  float: left;
}

.blog_category .field-name-field-post-type {
  float: left;
}

.node-blog .blog_post_type .fa, .node-blog .blog_post_date .fa {
  color: white;
}

.node-blog .blog_content {
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
}

.node-blog .blog_content .field, .node-blog .blog_content .project_images {
  margin-bottom: 2px;
}

.node-blog .blog_content .field-name-body {
  margin-bottom: 20px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #222222;
  border-color: #222222;
}

.node-blog video {
  max-width: 100%;
  height: auto !important;
  overflow: hidden;
}

.mejs-mediaelement, .mejs-container {
  max-width: 100%;
  overflow: hidden;
}

/*
2 COLUMNS BLOG
*/

.view-id-blog_custom.view-display-id-page_1 .views-row {

  padding: 10px;

}

.view-id-blog_custom.view-display-id-page_1 .views-row .blog_content h2 {
  font-size: 25px;
}

.view-id-blog_custom .post_blog_info {
  display: none;
}

/*
3 COLUMNS BLOG
*/

.view-id-blog_custom.view-display-id-page_2 .views-row .blog_content h2 {
  font-size: 17px;
}

/*
**********************************
--- OUR TEAM ---
**********************************
*/

.view-our-team {

}

.view-our-team .view-header {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.view-our-team .views-row {
	
	min-height: 550px;

}

.view-our-team .views-row .row-inner {
  margin: 20px;
  border: 4px solid #222222;
  color: #222222;
  padding: 40px;
  text-align: center;

  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.view-our-team .views-row .row-inner:hover {
  background: #222;
  color: #fff;
}

.view-our-team .views-row .views-field-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-our-team .views-row .views-field-field-position .views-label {
  font-weight: bold;
}

.view-our-team .views-row .views-field-field-position .field-content {
  margin-bottom: 40px;
}

.view-our-team .views-row .views-field-field-picture {

}

.view-our-team .views-row .views-field-field-picture img {

}

.view-our-team .views-row .social_member {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.view-our-team .views-row .social_member a {
  border: 3px solid #222;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  background: white;

  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.view-our-team .views-row .social_member a:hover {
  background: #222;
}

.view-our-team .views-row .social_member a:hover i {
  color: #fff;
}

/*
**********************************
--- BEAN BLOCKS ---
**********************************
*/

.bean-parallax-block .space, .bean-parallax-block .spacer_crosshair, .bean-parallax-block i {
  color: #ffffff;
}

section.block-bean {
  margin-top: 60px;
  margin-bottom: 60px;
}

.bean-parallax-block .content {
  margin-top: 0px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 80px 0px 80px 0px;
  color: white;
  text-align: center;
  position: relative;
}

/*
**********************************
--- PROGRESS EFFECT ---
**********************************
*/

.progress {
  display: block;
  margin: 0 0 18px;
  height: 30px;
  border-radius: 0px;
}

.progress .fore {
  background: #f5f5f5;
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  position: relative;
  width: 100%;
  height: 30px;
}

.progress .fore .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  z-index: 10;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: none;
}

.progress .fore .name {
  color: #fff;
  font-size: 13px;
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 30px;
  z-index: 20;
  letter-spacing: 1px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* 2.2 Group
---------------------------------------- */
.progress-group {
  display: block;
}

.progress-group .fore {
  overflow: hidden;
}

.progress-group .fore .bar {
  left: -100%;
}

.progress-group .fore .name {
  color: inherit;
}

.progress-group:hover .fore .bar {
  left: 0;
}

.progress-group:hover .fore .name {
  color: #fff;
}

/*
**********************************
--- COUNT EFFECT ---
**********************************
*/

.wi-count {
  display: block;
  margin: 0 0 20px;
  text-align: center;
}

.wi-count .number,
.wi-count .name {
  text-transform: uppercase;
  vertical-align: inherit;
}

.wi-count .number {
  font-weight: 300;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
}

@media (min-width: 980px) {
  .js .wi-count .number {
    opacity: 0;
  }
}

.wi-count .name {
  font-size: 22px;
  margin: 0 auto 10px;
  letter-spacing: 1px;
}

.wi-count .desc {
}

.wi-count .digit-con {
  height: 60px;
  overflow: hidden;
  display: inline-block;
}

.wi-count .digit-con span {
  display: block;
  text-align: center;
  position: relative;
  top: 0;
}

.wi-count .comma {
  display: inline-block;
  top: -15px;
  position: relative;
}

/*
**********************************
--- PRICING TABLE ---
**********************************
*/

table.table_pricing:hover {
  /*-webkit-box-shadow: 0 1px 15px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 15px 10px rgba(0, 0, 0, 0.35);
  box-shadow:0 1px 15px 10px rgba(0, 0, 0, 0.35);*/
  cursor: pointer;
}

table.table_pricing, .table_pricing tr, .table_pricing td {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  line-height: 14px;
}

table.table_pricing .pricing_row_heading {

  transition: background-color 300ms;
  text-transform: uppercase;
  line-height: 30px;
  height: 60px;
}

table.table_pricing .table_pricing_price {
  display: inline-block;
  padding: 20px 15px 20px 0;
}

table.table_pricing .table_pricing_price > div {
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;
  float: left;
  display: block;
}

table.table_pricing .table_pricing_price .price_value {
  font-size: 60px;
  line-height: 60px;
  display: block;
}

table.table_pricing .table_pricing_price .price_schedule {
  font-size: 14px;
  line-height: 14px;
  display: block;
  clear: both;
  margin-left: 25px;
}

.table_pricing td {
  text-align: center;
  padding: 10px;
}

.table_pricing .table_pricing_price > * {
  float: left;
  display: block;
}

.table_pricing .table_pricing_price > div {
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;
}

.table_pricing {
  text-align: center;
  width: 100%;
}

.table_pricing tr {
  width: 100%;
}

.table_pricing td {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0;
  border-right: 3px solid transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.table_pricing. td {
  width: 100%;
}

.table_pricing td:last-child {
  border-right: 0 !important;
}

.table_pricing .table_pricing_category_tag {
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.table_pricing td.frb_pricing_column_label {
  text-align: left;
}

.table_pricing .frb_pricing_row_separator td {
  height: 1px;
  margin: 0;
  padding: 0;
  border-left: 0;
  border-right-width: 3px;
  border-right-style: solid;
  border-top: 0;
  border-bottom: 0;
}

.table_pricing .frb_pricing_row_section td.frb_pricing_column_label, .table_pricing td[class^="frb_pricing_column"] .frb_pricing_section_responsive {
  text-align: left;
  padding: 15px 10px;
  font-size: 16px;
  line-height: 16px;
}

.table_pricing .frb_pricing_row_text_button td[class^="frb_pricing_column"] > div {
  margin: 12px 0;
}

.table_pricing .frb_pricing_row_text_button td[class^="frb_pricing_column"] > a {
  margin: 5px 0;
}

.table_pricing .frb_pricing_row_no_padding td[class^="frb_pricing_column"] {
  padding: 0;
}

.table_pricing .fawesome, .table_pricing .frb_icon {
  font-size: 18px;
  line-height: 18px;
}

.pricing_table_button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.frb_pricing_main_color1 {

}

/*
**********************************
--- WAYPOINT EFFECTS ---
**********************************
*/

.waypoint-effect {
  opacity: 0;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;

}

body.waypoint-no-effects .waypoint-effect,
body.waypoint-no-effects .waypoint-effect {
  opacity: 1;
}

.scaleUp {
  -webkit-animation: scaleupwards 0.3s forwards;
  -moz-animation: scaleupwards 0.3s forwards;
  animation: scaleupwards 0.3s forwards;
}

@-webkit-keyframes scaleupwards {
  from {
    opacity: 0;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes scaleupwards {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleupwards {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.fade {
  -webkit-animation: fadein 0.8s forwards;
  -moz-animation: fadein 0.8s forwards;
  animation: fadein 0.8s forwards;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fromLeft {
  -webkit-animation: fromleft 0.8s forwards;
  -moz-animation: fromleft 0.8s forwards;
  animation: fromleft 0.8s forwards;
}

@-webkit-keyframes fromleft {
  from {
    opacity: 0;
    margin-left: -400px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

@-moz-keyframes fromleft {
  from {
    opacity: 0;
    margin-left: -400px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fromleft {
  from {
    opacity: 0;
    margin-left: -400px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

.fromRight {
  -webkit-animation: fromright 0.8s forwards;
  -moz-animation: fromright 0.8s forwards;
  animation: fromright 0.8s forwards;
}

@-webkit-keyframes fromright {
  from {
    opacity: 0;
    margin-right: -400px;
  }
  to {
    opacity: 1;
    left: 0px;
  }
}

@-moz-keyframes fromright {
  from {
    opacity: 0;
    margin-right: -400px;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromright {
  from {
    opacity: 0;
    margin-right: -400px;
  }
  to {
    opacity: 1;
  }
}

/*
**********************************
--- MEDIA QUERIES ---
**********************************
*/

@media (max-width: 976px) {
  /*WORK*/
  .work-list ul.items .work-item {
    list-style: none;
    float: left;
    width: 31%;
    padding: 1%;
    margin: 1%;
  }
}

@media (max-width: 1000px) {
  .view-work .views-row .social_icons {
    display: none !important;
  }

  .da-thumbs li.cols-3 a div .title {
    margin: 60px 20px 20px 20px;
  }
}

/*TABLET MODE*/
@media (max-width: 767px) {

  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom: none;
  }

  /*MENU ITEMS*/
  .da-thumbs li a > div i {

  }

  .da-thumbs li.cols-3 a div .title {
    font-size: 16px;
  }

  .view-filter-controls li {
    margin: 5px;
  }

  div.navbar-collapse {
    float: none !important;
  }

  .container > .navbar-header, .container > .navbar-collapse.navbar-collapse {
    min-height: 100%;
    background: #272626;
    height: 100%;
    max-height: none;
    border: none;
  }
  @media (max-width: 767px) {
    .container > .navbar-header, .container > .navbar-collapse.navbar-collapse {
      height: auto;
    }
  }

  .container > .navbar-header, .container > .navbar-collapse.navbar-collapse .navbar-nav {

  }

  .navbar-collapse .navbar-nav > li > a {
    padding-left: 30px;
  }

  .navbar-collapse .navbar-nav > li > a {
    line-height: 50px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: inherit;
  }

  .navbar-default .navbar-nav > li a:hover {
    background-color: #222222 !important;
    color: white !important;
  }

  .navbar-default .navbar-toggle {
    border: none;
    outline: none;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #222222;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #222222;
    border: none;
  }

  .navbar-default .navbar-toggle:hover span, .navbar-default .navbar-toggle:focus span {
    background-color: white;
  }

  .work-list ul.items .work-item,
  .work-list ul.items .work-item.cols-3 {
    list-style: none;
    float: left;
    width: 50%;
    padding: 0%;
    margin: 0%;
  }

  .node-blog .post_blog_info .blog_category {
    width: 7%;
  }

  .node-blog .post_blog_info a {
    display: none;
  }

  .node-blog .post_blog_info .submitted {
    font-size: 12px;
  }

  .node-blog .blog_post_type {
    display: none;
  }

  .node-blog .blog_post_date {
    display: none;
  }

  .node-blog .blog_content {
    margin-left: 0;
  }

  .node-blog {
    padding: 0;
  }

  video {
    max-width: 100%;
  }

  .mejs-container, .mejs-overlay-play, audio, canvas, iframe {
    max-width: 100% !important;
  }

  .node-project .project_info span {
    width: 100%;
    border: none;
  }

  .node-project .project_info {
    text-align: center;
    margin-top: 50px;
  }

  .da-thumbs li.cols-3 a div .title {
    margin: 60px 20px 20px 20px;
  }

  .view-id-work.view-display-id-page_3 .item {
    width: 100%;
  }

  .view-id-work.view-display-id-page_3 .item.w2 {
    width: 100%;
  }

  .view-id-work.view-display-id-page_3 .item.w1 {
    width: 100%;
  }

  .view-id-work .title, .view-id-work .title, .da-thumbs li a > div .title {
    margin: 80px 20px 20px 20px;
    font-size: 30px;
  }

  .flexslider .contrast .hi-icon-wrap {
    display: none;
  }

}

/* Mobile display. */
@media only screen and (max-width: 500px) {

  #hero .flexslider .slides .field-content {
    font-size: 36px;
  }

  .flexslider .flex-direction-nav a {
    width: 40px;
    height: 40px;
  }

  #hero .button {
    padding: 10px 30px;
  }

  .flexslider .flex-direction-nav .flex-prev:before {
    font-size: 20px;
    line-height: 40px;
  }

  .flexslider .flex-direction-nav .flex-next:before {
    font-size: 20px;
    line-height: 40px;
  }

  .work-list ul.items .work-item,
  .work-list ul.items .work-item.cols-3 {
    list-style: none;
    float: left;
    width: 100%;
    padding: 0%;
    margin: 0%;
    text-align: center;
  }

  #block-block-2 {
    text-align: center;
  }

  #block-block-2 .pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    margin-bottom: 10px;
  }

  .work-list ul.items .work-item {
    max-height: 200px;
    overflow: hidden;
  }
  
  .tp-fade {
	  display: none;
  }
}